.col-6.mx-auto
  .d-flex
    %h1.me-auto 商品詳細画面
    = button_to admins_food_path(@food), { class: 'btn btn-danger', method: :delete, data: { turbo_confirm: '本当に削除しますか？' } } do
      削除
      %i.fa-solid.fa-trash
  %p.mt-5 現在の商品写真
  = image_tag(@food.image.url, class: 'w-25 mb-5')
  = simple_form_for [:admins, @food] do |f|
    = f.input :image, label: '新しい商品写真'
    = f.input :name
    = f.input :price_without_tax
    = f.input :description
    = f.input :displayed
    = f.input :position

    = f.submit '変更', class: 'btn btn-primary'
