%h1 商品一覧画面

.row
  - @foods.each do |food|
    .col-4.mt-5
      .card
        = image_tag(food.variant_saved_or_default_image, class: 'card-img-top foods-index__card-image')
        .card-body.border-top
          - if food.displayed
            %span.badge.text-bg-success.mb-2 公開中
          - else
            %span.badge.text-bg-secondary.mb-2 非公開
          %h2.card-title.display-one-line.fs-5= food.name
          %p.card-text.display-one-line= number_to_currency(food.price_with_tax)
          %p.card-text.display-three-line= food.description
          .d-flex
            = link_to '商品詳細', edit_admins_food_path(food), class: 'btn btn-primary h-25 mt-auto'
            .ms-auto
              %div
                並び順
                %i.fa-solid.fa-arrow-down-wide-short
              = link_to move_higher_admins_food_path(food), class: 'ms-3 fs-1 text-secondary text-decoration-none' do
                %i.fa-solid.fa-arrow-up
              = link_to move_lower_admins_food_path(food), class: 'ms-3 fs-1 text-secondary text-decoration-none' do
                %i.fa-solid.fa-arrow-down
