%h1 商品詳細画面

.mt-5.row
  .col-6
    = image_tag @food.image.url, class: 'd-block w-75'
  .col-6.foods-show__text
    %h2.fs-4 商品名
    %p= @food.name
    %h2.mt-4.fs-4 価格(税込)
    %p= "#{@food.price_with_tax}円"
    %h2.mt-4.fs-4 商品説明
    %p= @food.description

    - if current_user.include_in_cart?(@food)
      = simple_form_for @purchase_detail, url: add_number_purchase_detail_path do |f|
        = f.input :number, wrapper_html: { class: 'd-inline-block' }, input_html: { value: 1, min: 1 }
        .d-none
          = f.input :id, as: :hidden, class: 'd-none', input_html: { value: @purchase_detail.id }
        = f.submit 'カートに追加', class: 'btn btn-primary mt-auto w-auto ms-3'
    - else
      = simple_form_for @purchase_detail do |f|
        = f.input :number, wrapper_html: { class: 'd-inline-block' }, input_html: { value: 1, min: 1 }
        .d-none
          = f.input :food_id, as: :hidden, class: 'd-none', input_html: { value: @food.id }
        = f.submit 'カートに追加', class: 'btn btn-primary mt-auto w-auto ms-3'
