%h1 カート詳細

= link_to '購入する', new_purchase_path(purchase: { id: @cart.id}), class: 'btn btn-primary float-end mb-3 fs-5 me-5'

%table.table.mt-4
  %thead.table-secondary
    %tr
      %th 商品名
      %th 商品単価(税込)
      %th 数量
      %th
      %th 価格(税込)
      %th
  %tbody
    - @cart_details.each do |cart_detail|
      %tr
        %td= cart_detail.food.name
        %td= cart_detail.food.price_with_tax
        = simple_form_for cart_detail, url: cart_detail_path(cart_detail) do |f|
          %td= f.input :number, label: false, wrapper_html: { class: 'w-50' }
          %td= f.submit '数量を変更', class: 'btn btn-outline-dark'
        %td= cart_detail.total_price_with_tax
        %td= button_to '削除', cart_detail_path(cart_detail), class: 'btn btn-danger', method: :delete, data: { turbo_confirm: "カートから削除しますか？" }
